name: Vorprüfung

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'README.md'
      
# Konkurrenz-Kontrolle: Stellt sicher, dass nur ein Workflow-Lauf gleichzeitig aktiv ist.
concurrency: 
  group: workflow_state_update
  cancel-in-progress: true 

env:
  ENC_KEY: ${{ secrets.STATE_ENCRYPTION_KEY }} # Encryption Key als Environment Variable

jobs:
  prepare_assessment:
    runs-on: self-hosted
    outputs:
      state_available: ${{ steps.fetch_state.outputs.state_available }}
    steps:
      - name: Code auschecken
        uses: actions/checkout@v4
        
      - name: Alten State holen & entschlüsseln
        id: fetch_state
        run: |
          git fetch origin state-storage:state-storage || true
          git checkout state-storage -- state_file.enc 2>/dev/null || true

          if [ -f state_file.enc ]; then
            echo "Alten State entschlüsselt."
            openssl aes-256-cbc -d -a -in state_file.enc -out state_file.json -pass env:ENC_KEY -pbkdf2
            rm state_file.enc
            echo "state_available=true" >> $GITHUB_OUTPUT
          fi

      - name: Vorprüfung (Einschätzung) durchführen
        id: assessment
        run: |
          echo "# Last Result" >> $GITHUB_OUTPUT
          echo "test123" >> $GITHUB_OUTPUT
      
  
    

    
